/**********IV CARD**********/
#iv-card {
    display: flex;
}
[contenteditable] {
    outline:none
}
/**********END IV CARD**********/

/**********NAVEGACAO**********/
.nav-ivcard {
    display:flex;
}
.nav-ivcard nav {
    height: 100vh;
    background: #2b2b2b;
    display: inline-flex;
    width: 60px;
    justify-content: center;
    z-index: 1;
}
.nav-ivcard ul {
    width: 100% !important;
    margin: 0 !important;
}
.nav-ivcard ul li {
    float:inherit
}
.nav-ivcard li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    color: #fff;
    opacity: 0.7;
    line-height: 1.5rem
}
.nav-ivcard li a.active {
    background:#535353;
    cursor:not-allowed;
    opacity:1
}
.nav-ivcard li a:hover {
    opacity: 1;
}

.nav-ivcard .legenda {
    font-size: 11px;
}
/**********END NAVEGACAO**********/

.navegacao-dados {
    display:flex
}
.navegacao-inner {
    background:#535353;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 279px;
    transition: all 0.3s;
    margin-left: -50px;
    display:flex;
}
.navegacao-dados.close {
    opacity: 0;
}
.navegacao-close {
    display:flex;
    align-items:center;
    height:100%
}
.navegacao-dados-close {
    background:#2b2b2b;
    padding:30px 0;
    border-radius:0 100% 100% 0;
    color:#fff;
    cursor:pointer;
}
/**********END NAVEGACAO DADADOS**********/

/**********NAVEGACAO MODELOS**********/

.ivcard-modelos {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.ivcard-modelos .modelo-item {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.ivcard-modelos .modelo-item img {
    max-width: 100%;
    object-fit: cover;
}
/*********END NAVEGACAO MODELOS********/

/**********CONTENT**********/
.content-ivcard {
    flex:1;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

/********END CONTENT**********/

/**********TEMPLATE**********/
#ivcard-template {
    width: 50vh;
    height: 90vh;
    overflow: hidden;
    border-radius: 5vh;
    background-size: cover !important;
    padding: 4vh;
}
.ivcard-template-inner {
    display:flex;
    flex-direction:column;
    background-size:cover !important;
    background-position:center !important;
}
.template-top {
    height: 43vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.template-top h3 {
    font-size: 3.5vh;
    color:#fff;
    text-align:center;
    margin:0;
}
.template-middle {
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.template-footer {
    /* background:#898784; */
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.template-top .imagem img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 0.5vh solid red;
    object-fit: cover;
}
.template-top .imagem {
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 3vh 0;
}
.template-top .logotipo {
    display:flex;
    justify-content:center;
}
.template-top .logotipo img {
    height: 4vh
}
.ivcard-icones svg {
    fill:#fff;
    height:6vh;
    width:6vh;
}
.ivcard-icones {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.ivcard-icones span {
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    border-radius: 3vh 0 3vh;
    padding:2vh;
    border: 0.5vh solid red;
}

/**********END TEMPLATE**********/